---
import BackButton from "./BackButton.astro";
import TableOfContents from "./TableOfContents.astro";
import { SITE } from "@/config";

interface Props {
  headings?: { depth: number; slug: string; text: string }[];
}

const { headings = [] } = Astro.props;
---

<div class="flex w-full items-center justify-between sticky top-0 z-30 bg-background/80 backdrop-blur-sm border-b border-dashed pt-2 pb-2 mb-2">
  <div>
    <BackButton />
  </div>
  {
    headings.length >= 2 && (
      <TableOfContents {headings} />
    )
  }
</div>
